body{
	background-image: url("sakura.jpg");
	background-size: cover;
	background-position: center center;
	font-family: Lato;
}

#midcontent{
	padding-top: 25%;
	color: purple;
	text-align: center;
	/*text-shadow:0px 2px 2px pink;*/
}
html{
	height: 100%;
}

h1{
	font-weight: 700;
	font-size: 5em;
}
hr{
	width: 750px;
}